/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
 
/* Font-face */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@font-face{ 
	font-family: 'WebSymbols';
	src: url('../font/websymbols.eot');
	src: url('../font/websymbols.eot?#iefix') format('embedded-opentype'),
	     url('../font/websymbols.woff') format('woff'),
	     url('../font/websymbols.ttf') format('truetype'),
	     url('../font/websymbols.svg#WebSymbols') format('svg');
	}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin:0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: Anton Trollbäck
   ========================================================================== */
html, body {
  height: 100%;
}



/* == Nav == */

#nav-container {
  width: 210px;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  background: #3a3b40;
  -webkit-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
  -webkit-transition: width 0.15s ease;
      moz-transition: width 0.15s ease;
      -ms-transition: width 0.15s ease;
       -o-transition: width 0.15s ease;
          transition: width 0.15s ease;
}

#logo {
  font: 27px/39px normal normal 'Lobster', cursive;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  text-decoration: none;
}

/* Nav item links */
.n-item, .n-item:visited {
  margin: 5px 8px;
  padding: 6px 0;
  display: block;
  color: #e5e5e5;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  position: relative;
  -webkit-transition: background 0.1s ease;
      moz-transition: background 0.1s ease;
      -ms-transition: background 0.1s ease;
       -o-transition: background 0.1s ease;
          transition: background 0.1s ease;
}
/* Nav item icons */
.n-icon {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 17px;
  display: inline-block;
  vertical-align: text-bottom;
  font: 16px/17px normal normal 'WebSymbols';
  text-align: center;
}
.n-dashboard .n-icon {
	text-align: right;
}
.n-payout .n-icon, .n-payin .n-icon {
	text-align: left;
}
.n-declaration .n-icon {
	font-size: 14px
}
/* Nav item hover state */
.n-item:hover {
  color: #fff;
}
/* Nav item selected state */
.n-item.selected, .n-item.selected:active {
  background: #4697c3;
  color: #fff;
  cursor: default;
}
.n-item:active {
  color: #999;
}
/* Nav item margins and borders */
.n-dashboard, .n-payout, .n-clients {
  margin-bottom: 25px;
}
.n-dashboard:after, .n-payout:after, .n-clients:after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #2e2f34;
  box-shadow: 0 1px 0 rgba(255,255,255,0.05);
}

/* The small version of the nav */
#nav-container.small {
  width: 110px;
}
.small .n-item {
  text-align: center;
  font-size: 12px;
  margin: 5px 8px;
}
.small .n-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin: 2px auto 6px;
  font-size: 21px;
  line-height: 20px;
}
.small .n-dashboard, .small .n-payout, .small .n-clients {
  margin-bottom: 11px;
}
.small .n-dashboard:after, .small .n-payout:after, .small .n-clients:after {
  bottom: -5px;
}
.small .n-dashboard {
  margin-top: 3px;
}


.nav-header { /* Nav header */
  height: 40px;
  margin-bottom: 20px;
  background: #5f5f5f;
}

.nav-footer { /* Nav footer */
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0; left: 0;
  background: #5f5f5f;
}
.nav-help, .nav-logout { /* Help and login buttons in nav footer */
  float: left;
  width: 50%;
  display: block;
  padding: 8px 0 6px;
  border-left: 1px solid #333;
  margin-left: -1px;
  text-align: center;
}
.nav-help:hover, .nav-logout:hover {
  background: #777;
}



/* == Inner and Outer page layout == */

#content-wrapper {
  height: 100%;
  overflow: hidden;
}
.outer, .inner {
  height: 100%;
  position: relative;
  float: left;
  border-left: 1px solid #ccc;
  margin-left: -1px;
}

.inner {
  width: 60%;
}
.outer {
  width: 40%;
}


/* == Outer page == */

/* header */
.outer-header {
  background: #f2f2f2;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 2;
}
.o-h-button {
  width: 44%;
  display: block;
  float: left;
  background: #CCC;
  padding: 13px 0;
  margin: 12px 3%;
  text-align: center;
  font-size: 16px;
  color: #999;
}
.o-h-search {
  border: 1px solid #999;
  font-size: 14px;
  padding: 5px;
  margin: 5px 15px;
  width: 42%;
  float: left;
}
.o-sort {
  float: left;
  margin: 5px 0;
  list-style: none;
  padding: 0;
}
.o-sort li:first-child, .sort-status, .sort-date, .sort-abc {
  float: left;
}
.o-sort li:first-child {
  padding: 5px 5px 5px 0;
}
.sort-status, .sort-date, .sort-abc {
  background: #CCC;
  padding: 4px 8px 3px;
  margin: 2px 5px;
}

/* List */
.outer-list {
  overflow: auto;
  height: 100%;
}
.o-l-item {
  display: block;
  position: relative;
  border: 1px solid #ccc;
  border-width: 0 0 1px;
}
.o-l-item.active {
  background: #ccc;
}

.o-l-link {
  display: block;
}
.o-l-heading {
  font-style: 16px;
  margin: 10px;
}
.o-l-corner {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #999;
  font-size: 14px;
}
.o-l-left, .o-l-right {
  margin: 10px;
}
.o-l-left {
  float: left;
}
.o-l-right {
  float: right;
}


/* == Inner page == */






/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
