<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Utbetalningar - Bok</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="css/style.css">
  <!-- end CSS-->
 
  <!-- Libs -->
  <script src="js/libs/modernizr-2.0.6.min.js"></script>
  <script src="js/libs/json2.js"></script>
  <script src="js/libs/jquery-1.6.2.min.js"></script>
  <script src="js/libs/underscore-min.js"></script>
  <script src="js/libs/backbone-min.js"></script>
  <script src="js/libs/backbone-localstorage.js"></script>

  <!-- router -->
  <script src="js/appRouter.js"></script>
  <!-- Stuff -->
  <script src="js/out_going_payments.js"></script>
  <script src="js/in_going_payments.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    window.App = new appRouter();
    Backbone.history.start();
  }); // End document ready
  </script>
</head>
<body>

  <div id="nav-container" class="payout">

    <div class="nav-header">
      <a href="#" id="logo" title="Gå till bok.se">Bok</a>
    </div>

    <ul class="nav">
      <li><a href="#" class="n-item n-dashboard"><span class="n-icon">¹</span> Överblick</a></li>
      <li><a href="#inbetalningar" class="n-item n-payin"><span class="n-icon">o</span>Inbetalningar</a></li>
      <li><a href="#utbetalningar" class="n-item n-payout"><span class="n-icon">n</span>Utbetalningar</a></li>
      <li><a href="#fakturor" class="n-item n-invoice"><span class="n-icon">/</span>Fakturor</a></li>
      <li><a href="#" class="n-item n-offer"><span class="n-icon">+</span>Offerter</a></li>
      <li><a href="#" class="n-item n-clients"><span class="n-icon">U</span>Kunder</a></li>
      <li><a href="#" class="n-item n-declaration"><span class="n-icon">Z</span>Deklaration</a></li>
      <li><a href="#" class="n-item n-print"><span class="n-icon">a</span>Skriv ut</a></li>
      <li><a href="#" class="n-item n-settings"><span class="n-icon">S</span>Inställningar</a></li>
    </ul>

    <div class="nav-footer">
      <a href="#" class="nav-help">Hjälp</a>
      <a href="#" class="nav-logout">Logga ut</a>
    </div>

  </div> <!--! end of .nav-container -->

  <div id="content-wrapper">

  </div> <!--! end of .content-wrapper -->


  <!-- In going payments -->
  <script id="ingoingpayments-template" type="text/template">
    <div class="outer"> 

      <div class="outer-header">
        <button class="o-h-button inbetalning">Lägg till inbetalning</button>

        <form action="#">
          <input type="text" class="o-h-search" placeholder="Sök bland inbetalningar" />
          <span class="search-clear"></span>
        </form>
      </div>

      <div class="outer-list" style="margin-top:115px;">
        <ul class="o-l-list inbetalningar">
        </ul>
      </div><!-- end of .outer-list -->
    </div><!-- end .outer -->

    <div class="inner">
        <p>Add new</p>
    </div>
  </script>

<script id="new-in-payment-template" type="text/template" >
  <div class="create">
    <h2 class="inner-heading">Skapa ny inbetalning</em></h2>
    <p class="inner-desc"></p>
    <strong class="inner-heading-right">Verifikationsnummer: <em>02</em></strong>
    <form class="inner-form">

      <div class="date-picker"></div>

      <div class="f-large-desc">
        <label for="payout-title">Titel:</label>
        <input id="payout-title" type="text" value="title" />
      </div>
      <div class="f-large-desc">
        <label for="payout-date">Utbetalnings datum:</label>
        <input id="payout-date" type="text" value="2011-12-16" />
      </div>
      <div class="f-short price">
        <label for="payout-price">Belopp (ink moms):</label>
        <input id="payout-price" type="text" value="200" />
      </div>
      <div class="f-radio vat">
        <label for="#">Moms:</label>
        <input id="25" type="radio" name="vat" checked /><label class="f-radio-input" for="vat-25">25%</label>
        <input id="12" type="radio" name="vat" /><label class="f-radio-input" for="vat-12">12%</label>
        <input id="6" type="radio" name="vat" /><label class="f-radio-input" for="vat-6">6%</label>

        <button id="new-inbetalning">Add new</button>
      </div>
  </div>
  </script>

  <script id="edit-in-payment-template" type="text/template" >
  <div class="edit">
    <h2 class="inner-heading">Edit <%= title %></em></h2>
    <p class="inner-desc"></p>
    <strong class="inner-heading-right">Verifikationsnummer: <em>02</em></strong>
    <form class="inner-form">

      <div class="date-picker"></div>

      <div class="f-large-desc">
        <label for="payout-title">Titel:</label>
        <input id="payout-title" type="text" value="<%= title %>" />
      </div>
      <div class="f-large-desc">
        <label for="payout-date">Utbetalnings datum:</label>
        <input id="payout-date" type="text" value="2011-12-16" />
      </div>
      <div class="f-short price">
        <label for="payout-price">Belopp (ink moms):</label>
        <input id="payout-price" type="text" value="200" />
      </div>
      <div class="f-radio vat">
        <label for="#">Moms:</label>
        <input id="25" type="radio" name="vat" checked /><label class="f-radio-input" for="vat-25">25%</label>
        <input id="12" type="radio" name="vat" /><label class="f-radio-input" for="vat-12">12%</label>
        <input id="6" type="radio" name="vat" /><label class="f-radio-input" for="vat-6">6%</label>

        <input name="id" id="modelId" type="hidden" value="<%= id %>" />
        <button id="edit-inbetalning">Edit</button>
      </div>
  </div>
  </script>










  <!-- Out going payments -->

  <script id="payment-template" type="text/template">
    <button class="o-l-link clearfix">
      <h3 class="o-l-heading title"><%= title %></h3>
      <span class="o-l-corner ver">Ver</span>
      <p class="o-l-left cost"><%= cost %></p>
      <p class="o-l-right date"><%= date %></p>
    </button>
    <button class="remove">Remove</button>
  </script>

  <script id="outgoingpayments-template" type="text/template">
    <div class="outer"> 

      <div class="outer-header">
        <button class="o-h-button utbetalning">Lägg till utbetalning</button>

        <form action="#">
          <input type="text" class="o-h-search" placeholder="Sök bland utbetalningar" />
          <span class="search-clear"></span>
        </form>
      </div>

      <div class="outer-list" style="margin-top:115px;">
        <ul class="o-l-list utbetalningar">
        </ul>
      </div><!-- end of .outer-list -->
    </div><!-- end .outer -->

    <div class="inner">
        <p>Add new</p>
    </div>
  </script>

  <script id="new-out-payment-template" type="text/template" >
  <div class="create">
    <h2 class="inner-heading">Skapa ny utbetalning</em></h2>
    <p class="inner-desc"></p>
    <strong class="inner-heading-right">Verifikationsnummer: <em>02</em></strong>
    <form class="inner-form">

      <div class="date-picker"></div>

      <div class="f-large-desc">
        <label for="payout-title">Titel:</label>
        <input id="payout-title" type="text" value="title" />
      </div>
      <div class="f-large-desc">
        <label for="payout-date">Utbetalnings datum:</label>
        <input id="payout-date" type="text" value="2011-12-16" />
      </div>
      <div class="f-short price">
        <label for="payout-price">Belopp (ink moms):</label>
        <input id="payout-price" type="text" value="200" />
      </div>
      <div class="f-radio vat">
        <label for="#">Moms:</label>
        <input id="25" type="radio" name="vat" checked /><label class="f-radio-input" for="vat-25">25%</label>
        <input id="12" type="radio" name="vat" /><label class="f-radio-input" for="vat-12">12%</label>
        <input id="6" type="radio" name="vat" /><label class="f-radio-input" for="vat-6">6%</label>

        <button id="new-utbetalning">Add new</button>
      </div>
  </div>
  </script>

  <script id="edit-out-payment-template" type="text/template" >
  <div class="edit">
    <h2 class="inner-heading">Edit <%= title %></em></h2>
    <p class="inner-desc"></p>
    <strong class="inner-heading-right">Verifikationsnummer: <em>02</em></strong>
    <form class="inner-form">

      <div class="date-picker"></div>

      <div class="f-large-desc">
        <label for="payout-title">Titel:</label>
        <input id="payout-title" type="text" value="<%= title %>" />
      </div>
      <div class="f-large-desc">
        <label for="payout-date">Utbetalnings datum:</label>
        <input id="payout-date" type="text" value="2011-12-16" />
      </div>
      <div class="f-short price">
        <label for="payout-price">Belopp (ink moms):</label>
        <input id="payout-price" type="text" value="200" />
      </div>
      <div class="f-radio vat">
        <label for="#">Moms:</label>
        <input id="25" type="radio" name="vat" checked /><label class="f-radio-input" for="vat-25">25%</label>
        <input id="12" type="radio" name="vat" /><label class="f-radio-input" for="vat-12">12%</label>
        <input id="6" type="radio" name="vat" /><label class="f-radio-input" for="vat-6">6%</label>

        <input name="id" id="modelId" type="hidden" value="<%= id %>" />
        <button id="edit-utbetalning">Edit</button>
      </div>
  </div>
  </script>
  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <!-- end scripts-->

  <script> // Google Analytics
    //window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    //Modernizr.load({
    //  load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    //});
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
