<!doctype html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Cache-Control" content="no-store" />
  <title>Bok - Bokföringsapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/css/style.css">
  <link href="//get.pictos.cc/fonts/583/4" rel="stylesheet" type="text/css">
  <!-- end CSS-->
  <!--<script src="js/libs/modernizr-2.0.6.min.js"></script>-->
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>
<body class="book">


  <div class="container active clearfix" id="site">
    <header id="page-header">
      <!-- Logo and description: -->
      <strong id="logo">Bok <sup>beta</sup></strong>
      <h1>Det första simpla bokföringsappet</h1>
    </header>

    <!-- Login/logout form: -->
    <section id="user-action" <% if(@logged_in == true) %>class="logged-in"<% end %>>
      <div id="login">
        <form action="/login" method="post">
          <div class="wrap-inp">
            <label for="inp-email">E-post:</label>
            <input type="email" id="inp-email" name="email" class="shrink" value="test@example.com">
          </div>
          <div class="wrap-inp">
            <label for="inp-email">Lösenord:</label>
            <input type="password" id="inp-password" name="password">
          </div>
          <input type="submit" value="Logga in" id="btn-login" class="btn-add">
        </form>
      </div>
    </section>
  </div>


  <div class="container clearfix" id="app">
    <nav>
      <ul id="app-nav">
        <li class="item"><a href="in" class="link" id="btn-in" data-title="Intäkt" data-key="74">+</a></li>
        <li class="item"><a href="out" class="link" id="btn-out" data-title="Utgift" data-key="75">–</a></li>
        <li class="item"><a href="salary" class="link" id="btn-salary" data-title="Löneuttag" data-key="76">–</a></li>
        <li class="item"><a href="" class="link" id="btn-book" data-title="Bokföring" data-key="186">=</a></li>
        <li class="item"><a href="settings" class="link icon" id="btn-settings" data-title="Inställningar" data-key="83">s</a></li>
        <li class="item"><a href="" class="link icon" id="btn-logout" data-key="81">q</a></li>
      </ul>
    </nav>

    <div id="main-content" class="">

      <article class="content active" id="view-book">
          <ul class="column">
            <li class="number-item">
              <strong class="important">Överskott:</strong>
              <span class="number number-result" id="data-surplus">147 250</span>
            </li>
            <li class="number-item">
              <strong>Intäkter:</strong>
              <span class="number" id="data-in">187 250</span>
            </li>
            <li class="number-item">
              <strong>Utgifter:</strong>
              <span class="number" id="data-out">40 000</span>
            </li>
          </ul>
          <div class="column">
              <strong class="important">Moms överskott:</strong>
              <span class="number-result" id="data-vat-result">61 580</span>
          </div>
      </article>

      <!-- Payin: -->
      <article class="content" id="view-in">
        <form action="/payments" method="post">
          <div class="wrap-inp">
            <label for="inp-in-title">Titel:</label>
            <input type="text" id="inp-in-title" name="title" class="shrink" placeholder="Faktura 20: Kundnamn">
            <i class="info">i</i>
          </div>
          <div class="wrap-inp">
            <label for="inp-in-sum">Belopp:</label>
            <input type="text" id="inp-in-sum" name="sum" placeholder="5200 (ex moms)">
            <i class="info">i</i>
          </div>
          <div class="wrap-inp">
            <label for="inp-in-vat">Moms %:</label>
            <ul class="vat-list">
              <li class="vat checked">25
                <input type="radio" checked name="vat" value="25">
              </li>
              <li class="vat">12
                <input type="radio" name="vat" value="6">
              </li>
              <li class="vat">6
                <input type="radio" name="vat" value="6">
              </li>
              <li class="vat">0
                <input type="radio" name="vat" value="0">
              </li>
            </ul>
          </div>
          <div class="wrap-inp">
            <label for="inp-in-date">Datum:</label>
            <input type="text" id="inp-in-date" class="date" name="date">
            <i class="info">i</i>
          </div>
          <input name="payment_type" type="hidden" value="ingoing" />
          <button type="submit" class="btn-add"><i class="icon">c</i> Spara intäkt</button>
        </form>
      </article>

      <!-- Payout: -->
      <article class="content" id="view-out">
        <form action="/payments" method="post">
          <div class="wrap-inp">
            <label for="inp-out-title">Titel:</label>
            <input type="text" id="inp-out-title" class="shrink" placeholder="Bokköp: The Manual" name="title">
            <i class="info">i</i>
          </div>
          <div class="wrap-inp">
            <label for="inp-out-sum">Belopp:</label>
            <input type="text" id="inp-out-sum" placeholder="290 (ex moms)" name="sum">
            <i class="info">i</i>
          </div>
          <div class="wrap-inp">
            <label for="inp-in-vat">Moms %:</label>
            <ul class="vat-list">
              <li class="vat checked">25
                <input type="radio" checked name="vat" value="25">
              </li>
              <li class="vat">12
                <input type="radio" name="vat" value="6">
              </li>
              <li class="vat">6
                <input type="radio" name="vat" value="6">
              </li>
              <li class="vat">0
                <input type="radio" name="vat" value="0">
              </li>
            </ul>
          </div>
          <div class="wrap-inp">
            <label for="inp-out-date">Datum:</label>
            <input type="text" id="inp-out-date" class="date" name="date">
            <i class="info">i</i>
          </div>
          <input name="payment_type" type="hidden" value="outgoing" />
          <button type="submit" class="btn-add"><i class="icon">c</i> Spara utgift</button>
        </form>
      </article>

      <!-- Salary: -->
      <article class="content" id="view-salary">
        <form action="/payments" method="post">
          <div class="wrap-inp">
            <label for="inp-salary-title">Titel:</label>
            <input type="text" id="inp-salary-title" class="shrink" placeholder="Lön: början av februari" name="title">
            <i class="info">i</i>
          </div>
          <div class="wrap-inp">
            <label for="inp-salary-sum">Belopp:</label>
            <input type="text" id="inp-salary-sum" placeholder="1000 (ex moms)" name="sum">
            <i class="info">i</i>
          </div>
          <div class="wrap-inp">
            <p id="salary-after">I fickan efter skatt: <ins></ins></p>
          </div>
          <div class="wrap-inp">
            <label for="inp-salary-date">Datum:</label>
            <input type="text" id="inp-salary-date" class="date" name="date">
            <i class="info">i</i>
          </div>
          <input name="payment_type" type="hidden" value="salary" />
          <button type="submit" class="btn-add"><i class="icon">c</i> Spara löneuttag</button>
        </form>
      </article>

      <!-- Settings: -->
      <article class="content" id="view-settings">
          <h4>Förvald moms %:</h4>
          <div class="wrap-inp">
            <label for="inp-in-vat">För intäkter:</label>
            <ul class="vat-list">
              <li class="vat checked">25
                <input type="radio" checked>
              </li>
              <li class="vat">12
                <input type="radio">
              </li>
              <li class="vat">6
                <input type="radio">
              </li>
              <li class="vat">0
                <input type="radio">
              </li>
            </ul>
          </div>
          <div class="wrap-inp">
            <label for="inp-in-vat">För utgifter:</label>
            <ul class="vat-list">
              <li class="vat checked">25
                <input type="radio" checked>
              </li>
              <li class="vat">12
                <input type="radio">
              </li>
              <li class="vat">6
                <input type="radio">
              </li>
              <li class="vat">0
                <input type="radio">
              </li>
            </ul>
          </div>
      </article>

      <section class="latest">
        <h4>Senaste <i class="events-all">händelser</i><i class="events-in">intäkter</i><i class="events-out">utgifter</i><i class="events-salary">löneuttag</i></h4>
        <ul class="events">
          <li class="event in">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
          <li class="event out">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
          <li class="event salary">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
          <li class="event in">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
          <li class="event out">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
          <li class="event salary">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
          <li class="event in">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
          <li class="event out">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
          <li class="event salary">
            <ul class="sum"><li class="data-sum">1000<li class="data-total">1250</ul>
            <strong class="data-title">Bokköp: The Manual</strong>
            <span class="timestamp">1/12 2012</span>
            <i class="data-nr">40</i>
            <i class="edit icon">i</i>
            <i class="delete icon">i</i>
          </li>
        </ul>
      </section>
    </div>
  </div>


  <!-- View switcher for development: -->
  <a href="app" class="transfer" id="view-app">t</a>
  <a href="" class="transfer" id="view-site">t</a>
  <!-- For shrinking input text: -->
  <span id="shrinker"></span>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="/js/libs/jquery.history.min.js"></script>
  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <!-- end scripts-->
  <script> /*
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    }); */
  </script>
</body>
</html>
