<!doctype html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Cache-Control" content="no-store" />
  <title>Bok - Bokföringsapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/css/style.css">
  <link href="//get.pictos.cc/fonts/583/4" rel="stylesheet" type="text/css">
  <!-- end CSS-->
  <script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body class="book">


  <div class="container active clearfix" id="site">
    <header id="page-header">
      <!-- Logo and description: -->
      <strong id="logo">Bok <sup>beta</sup></strong>
      <h1>Det första simpla bokföringsappet</h1>
    </header>

    <!-- Login/logout form: -->
    <section id="user-action" <% if(@logged_in == true) %>class="logged-in"<% end %>>
      <div id="login">
        <form action="/login" method="post">
          <div class="wrap-inp">
            <label for="inp-email">E-post:</label>
            <input type="email" id="inp-email" name="email" value="test@example.com">
          </div>
          <div class="wrap-inp">
            <label for="inp-email">Lösenord:</label>
            <input type="password" id="inp-password" name="password">
          </div>
          <input type="submit" value="Logga in" id="btn-login" class="btn-add">
        </form>
      </div>
    </section>
  </div>


  <div class="container clearfix" id="app">
    <nav>
      <ul id="app-nav">
        <li class="item"><a href="in" class="link" id="btn-in" data-title="Inkomst">+</a></li>
        <li class="item"><a href="out" class="link" id="btn-out" data-title="Utgift">–</a></li>
        <li class="item"><a href="salary" class="link" id="btn-salary" data-title="Löneuttag">–</a></li>
        <li class="item"><a href="" class="link" id="btn-book" data-title="Bokföring">=</a></li>
        <li class="item"><a href="settings" class="link icon" id="btn-settings" data-title="Inställningar">s</a></li>
        <li class="item"><a href="" class="link icon" id="btn-logout">q</a></li>
      </ul>
    </nav>

    <div id="main-content" class="">

      <article class="content active" id="view-book">
          <ul class="column">
            <li class="number-item">
              <strong class="important">Överskott:</strong>
              <span class="number number-result" id="data-surplus">147 250</span>
            </li>
            <li class="number-item">
              <strong>Inkomster:</strong>
              <span class="number" id="data-in">187 250</span>
            </li>
            <li class="number-item">
              <strong>Utgifter:</strong>
              <span class="number" id="data-out">40 000</span>
            </li>
          </ul>
          <div class="column">
              <strong class="important">Moms överskott:</strong>
              <span class="number-result" id="data-vat-result">61 580</span>
          </div>
      </article>

      <!-- Payin: -->
      <article class="content" id="view-in">
        <form action="/payments" method="post">
          <div class="wrap-inp">
            <label for="inp-in-title">Titel (kund):</label>
            <input type="text" id="inp-in-title" name="title" placeholder="Faktura 20: Sajt uppdatering">
            <a href="" class="info">i</a>
          </div>
          <div class="wrap-inp">
            <label for="inp-in-sum">Summa:</label>
            <input type="text" id="inp-in-sum" name="sum" placeholder="5 200">
            <a href="" class="info">i</a>
          </div>
          <div class="wrap-inp">
            <label for="inp-in-vat">Moms:</label>
            <input type="text" id="inp-in-vat" name="vat" placeholder="25%">
            <a href="" class="info">i</a>
          </div>
          <div class="wrap-inp">
            <label for="inp-in-date">Datum:</label>
            <input type="date" id="inp-in-date" date="date" name="date" placeholder="<%= @time %>">
            <a href="" class="info">i</a>
          </div>
          <input name="payout_type" type="hidden" value="0" />
          <button type="submit" class="btn-add"><i class="icon">c</i> Spara inbetalning</button>
        </form>
      </article>

      <!-- Payout: -->
      <article class="content" id="view-out">
        <form action="">
          <div class="wrap-inp">
            <label for="inp-out-title">Titel:</label>
            <input type="text" id="inp-out-title" placeholder="Bok: The Manual">
            <a href="" class="info">i</a>
          </div>
          <div class="wrap-inp">
            <label for="inp-out-sum">Summa:</label>
            <input type="text" id="inp-out-sum" placeholder="290">
            <a href="" class="info">i</a>
          </div>
          <div class="wrap-inp">
            <label for="inp-out-vat">Moms:</label>
            <input type="text" id="inp-out-vat" placeholder="25%">
            <a href="" class="info">i</a>
          </div>
          <div class="wrap-inp">
            <label for="inp-out-date">Datum:</label>
            <input type="date" id="inp-out-date" placeholder="<%= @time %>">
            <a href="" class="info">i</a>
          </div>
          <button type="submit" class="btn-add"><i class="icon">c</i> Spara utgift</button>
        </form>
      </article>

      <!-- Salary: -->
      <article class="content" id="view-salary">
        <form action="">
          <div class="wrap-inp">
            <label for="inp-out-title">Titel:</label>
            <input type="text" id="inp-out-title" placeholder="Lön: början av februari">
            <a href="" class="info">i</a>
          </div>
          <div class="wrap-inp">
            <label for="inp-out-sum">Summa:</label>
            <input type="text" id="inp-out-sum" placeholder="10 000">
            <a href="" class="info">i</a>
          </div>
          <div class="wrap-inp">
            <label for="inp-out-date">Datum:</label>
            <input type="date" id="inp-out-date" placeholder="<%= @time %>">
            <a href="" class="info">i</a>
          </div>
          <button type="submit" class="btn-add"><i class="icon">c</i> Spara löneuttag</button>
        </form>
      </article>

      <!-- Settings: -->
      <article class="content" id="view-settings">

      </article>

      <section class="latest">
        <h4>Senaste <i class="events-all">händelser</i><i class="events-in">inbetalningar</i><i class="events-out">utgifter</i><i class="events-salary">löneuttag</i></h4>
        <ul class="events">
          <li class="event in">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
          <li class="event out">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
          <li class="event salary">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
          <li class="event out">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
          <li class="event in">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
          <li class="event in">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
          <li class="event out">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
          <li class="event salary">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
          <li class="event salary">
            <span class="data-sum">100</span><strong class="data-title">Bokköp: The Manual </strong><i class="data-nr">40</i>
          </li>
        </ul>
      </section>
    </div>
  </div>


  <!-- View switcher for development: -->
  <a href="app" class="transfer" id="view-app">t</a>
  <a href="" class="transfer" id="view-site">t</a>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="/js/libs/jquery.history.min.js"></script>
  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <!-- end scripts-->
  <script> /*
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    }); */
  </script>
</body>
</html>
