
/* =========================================================================
   Author: Anton Trollbäck
           anton.trollback.se
           @antontrollback
   =========================================== Using HTML5 ✰ Boilerplate === */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection { background: #333; color: #fff; text-shadow: none; }

a { color: #fff; text-decoration: none; }
a:visited { color: #fff; }
a:hover { color: #fff; }
a:hover, a:active, a:focus { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0; padding: 0; list-style: none; list-style-image: none; }
dd { margin: 0 0 0 40px; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }




/* ==========================================================
   Document styles
   ========================================================= */

html {
  height: 100%;
  background: #f2f2f2;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 30px;
}

.container {
  width: 780px;
  margin: 0 auto;
  position: relative;
  display: none;
}




/* ==========================================================
   Universal rules
   ========================================================= */

.column {
  width: 50%;
  float:left;
}

/* ===== Pictos icon font ===== */

.icon, .transfer, .subnav .link  {
  font-family: 'Pictos Custom';
  font-weight: normal !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
}

/* ===== Form elements ===== */

.wrap-inp {
  float: left;
}
label {
  display: block;
  width: 100px;
  float: left;
  padding-top: 12px;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
}
input {
  margin-bottom: 15px;
  padding: 10px 14px;
  font-size: 18px;
  background: #f1f1f1;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  border: 3px solid #f1f1f1;
  width: 250px;
  box-sizing: border-box;
}
input:focus {
  background: #fff;
  color: #222;
  outline: 0;
  cursor: text;
  border-color: #ccc;
}
button {
  background: #ffd015;
  border-radius: 2px;
  float: right;
  border: 0;
  padding: 15px 0 14px 48px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  width: 230px;
  position: relative;
  box-sizing: border-box;
  text-align: left;
}
button .icon {
  position: absolute;
  top: 14px;
  left: 15px;
  font-size: 26px;
}

.in button     { background: #2be218; }
.out button    { background: #ff1531; }
.salary button { background: #157eff; }
.book button   { background: #ffd015; }

button:hover {
  cursor: pointer;
}
button:active {
  opacity: 0.8;
}

#inp-in-title, #inp-out-title, #inp-salary-title {
  width: 530px;
}
#inp-in-sum, #inp-out-sum {
  width: 250px;
}
#inp-in-vat, #inp-out-vat {
  width: 183px;
}

label[for="inp-in-vat"], label[for="inp-out-vat"] {
  margin-left: 20px;
  width: 77px;
}





/* ==========================================================
   Site layout
   ========================================================= */

/* ===== Site header ===== */

#logo {
  text-align: center;
  display: block;
  font-size: 59px;
}
#logo sup {
  font-size: 21px;
  top: -29px;
  color: #999;
  left: -8px;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin: 10px 0 30px;
}

/* ===== Login / register / logout ===== */

#user-action {
  width: 300px;
  margin: 30px auto;
  background: #222;
  border-radius: 2px;
  padding: 30px;
}
#user-action .btn-logout {
  font-size: 32px;
}

#user-action .wrap-inp, #user-action input {
  float: none;
}

#user-action label {
  color: #fff;
}
#user-action #btn-login {
  width: 150px;
}




/* ==========================================================
   App layout
   ========================================================= */

/* ===== Basic app structure ===== */

#main-content {
  width: 630px;
  min-height: 433px;
  padding: 25px 30px 30px;
  float: right;
  border-top: 12px solid #ffd015;
  border-radius: 2px;
  background: #fff;
  position: relative;
}
.in #main-content     { border-color: #2be218; }
.out #main-content    { border-color: #ff1531; }
.salary #main-content { border-color: #157eff; }
.book #main-content   { border-color: #ffd015; }

.content {
  display: none;
  overflow: hidden;
  min-height: 186px;
}

/* ===== Main app navigation ===== */

#app-nav {
  position: fixed;
  width: 90px;
}
/* Modernizr fallback */

.item, .subnav {
  margin-bottom: 20px;
}
.link, .link:visited {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 2px;
  line-height: 44px;
  box-sizing: border-box;
  border: 5px solid transparent;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  color: #000;
  background: #fff;
}

#btn-in     { background: #2be218; }
#btn-out    { background: #ff1531; }
#btn-salary { background: #157eff; }
#btn-book   { background: #ffd015; }

.in #btn-in,
.out #btn-out,
.salary #btn-salary,
.book #btn-book { border-color: rgba(0,0,0,.1)  }

/* ===== Subnav ===== */

.link.icon {
  display: none;
}

/* ===== Event list item style ===== */

.events {
  overflow: hidden;
}
.event {
  width: auto;
  min-height: 50px;
  line-height: 50px;
  cursor: pointer;
  border-top: 2px solid #ebebeb;
  margin-top: -2px;
}
.event.in .data-title     { color: #2be218; }
.event.out .data-title    { color: #ff1531; }
.event.salary .data-title { color: #157eff; }

.in .out, .in .salary     { display: none; }
.out .in, .out .salary    { display: none; }
.salary .out, .salary .in { display: none; }

.event:hover {
  background:#f2f2f2;
}
.data-sum {
  float: left;
  margin: 0 20px;
  width: 100px;
  border-right: 2px solid #ebebeb;
  height: 100%;
}
.data-sum:after {
  content: ' kr';
}
.data-title {
  float: left;
  height: 100%;
}
.data-nr {
  float: right;
  height: 100%;
  font-style: normal;
  margin-right: 20px;
  color: #999;
  font-size: 16px;
}
.data-nr:before {
  content: '#';
}

/* ===== App like text selection ===== */

#app, .transfer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#main-content *[id*="data-"], #main-content *[class*="data-"] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}


/* ==========================================================
   App content views
   ========================================================= */

/* ===== 1. Booking ============= */

.number-item {
  float: left;
  width: 50%;
}

.number-item:first-child {
  float: none;
  width: auto;
  margin-bottom: 10px;
}

#view-book strong {
  display: block;
  font-size: 15px;
}

#view-book .important {
  font-size: 18px;
}


.number {
  display: block;
  font-size: 28px;
}
.number-result {
  display: block;
  font-size: 68px;
}

/* ===== Overview Widget ======= */

.latest {
  clear: both;
  margin-top: 40px;
  border-top: 3px solid #ddd;
  width: 100%;
}

.latest h4 {
  background: #fff;
  font-size: 18px;
  font-weight: normal;
  color: #999;
  text-align: center;
  width: auto;
  padding: 0 5px;
  display: inline-block;
  top: -13px;
  position: relative;
  margin: 0 0 10px;
  left: 15px;
}





/* ==========================================================
   View switcher for development
   ========================================================= */

.transfer {
  font-size: 32px;
  background: #999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 57px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.transfer:hover {
  background: #222;
}




/* ==========================================================
   JS styles - Content visability based on uri
   ========================================================= */

body.app {

}
body.site {

}

.container.active, .content.active, #btn-overview.active {
  display: block;
}

body.app #view-app {
  display: none;
}
body.site #view-site {
  display: none;
}


h4 i { display: none; }
.overview h4 .events-all,
.in h4 .events-in,
.out h4 .events-out,
.salary h4 .events-salary { display: inline; font-style: normal;}



/* ==========================================================
   non-semantic helper classes
   ========================================================= */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/* ==========================================================
   media queries
   ========================================================= */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==========================================================
   Print styles
   ========================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



