/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection { background: #333; color: #fff; text-shadow: none; }

a { color: #fff; text-decoration: none; }
a:visited { color: #fff; }
a:hover { color: #fff; }
a:hover, a:active, a:focus { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0; padding: 0; list-style: none; list-style-image: none; }
dd { margin: 0 0 0 40px; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==========================================================
   Document styles
   ========================================================= */

html {
  height: 100%;
  background: #f2f2f2;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 30px;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  display: none;
}


/* ==========================================================
   Universal rules
   ========================================================= */

.column {
  width: 50%;
  float:left;
}

/* ===== Pictos icon font ===== */

#view-app, #view-site, #btn-settings, #app-nav #btn-logout, #btn-overview  {
  font-family: 'Pictos Custom';
  -webkit-font-smoothing: antialiased;
}



/* ==========================================================
   Site layout
   ========================================================= */




/* ==========================================================
   App layout
   ========================================================= */

/* ===== Basic app structure ===== */

#app {
  min-height: 530px;
}

.content {
  width: 580px;
  min-height: 422px;
  position: absolute;
  top: 0; right: 0;
  background: #fff;
  padding: 78px 30px 30px;
  display: none;
  border-radius: 2px;
}

.content h3 {
  display: block;
  position: absolute;
  top: 0; left: 0;
  margin: 0;
  padding: 15px;
  background: #ccc;
  width: 100%;
  box-sizing: border-box;
}

/* ===== App like text selection ===== */

body.app {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.content *[id*="data-"], .content *[class*="data-"] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

/* ===== Main app navigation ===== */

#app-nav {
  position: absolute;
  top: 0; left: 0;
  width: 290px;
}

#app-nav .item {
  margin-bottom: 20px;
}

#app-nav .link {
  font-size: 25px;
  padding-left: 30px;
  width: auto;
  height: 90px;
  display: block;
  background: #222;
  line-height: 90px;
  border-radius: 2px;
}

/* ===== Settings / Logout icons ===== */

#app-nav .secondary {
  float: left;
  width: 135px;
  margin-bottom: 0;
}
#app-nav .item:last-child {
  float: right;
}

#app-nav .secondary .link {
  font-size: 15px;
  padding-left: 0;
  text-align: center;
  width: 100%;
}

#app-nav #btn-settings, #app-nav #btn-logout{
  font-size: 60px;
  line-height: 107px;
}

/* ===== Go to overview icon ===== */

#btn-overview {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 1;
  font-size: 22px;
  background: #222;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 35px;
}

/* ===== Event list item style ===== */

.event {
  width: 100%;
  overflow: hidden;
  min-height: 40px;
}
.event:nth-child(2n+2) {
  background: #ededed;
}
.data-sum {
  float: left;
  margin: 0 20px;
  width: 100px;
  border-right: 2px solid #ccc;
  height: 40px;
  line-height: 40px;
}
.data-sum:after {
  content: ' kr';
}
.data-title {
  float: left;
  height: 40px;
  line-height: 40px;
}
.data-nr {
  float: right;
  height: 40px;
  line-height: 40px;
  font-style: normal;
  margin-right: 20px;
  color: #999;
  font-size: 16px;
}
.data-nr:before {
  content: '#';
}


/* ==========================================================
   App content views
   ========================================================= */

/* ===== 1. Overview ============= */

#view-overview .number-item {
  float: left;
  width: 50%;
}

#view-overview .number-item:first-child {
  float: none;
  width: auto;
  margin-bottom: 10px;
}

#view-overview strong {
  display: block;
  font-size: 15px;
}

#view-overview .important {
  font-size: 18px;
}


#view-overview .number {
  display: block;
  font-size: 28px;
}
#view-overview .number-result {
  display: block;
  font-size: 68px;
}

/* ===== Overview Widget ======= */

.latest {
  clear: both;
  position: absolute;
  bottom: 20px; left: 30px;
  width: 580px;
  border-top: 3px solid #f2f2f2;
}

.latest h4 {

}



/* ==========================================================
   Positioned navigation
   ========================================================= */


#view-app, #view-site {
  font-size: 32px;
  background: #999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 57px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#view-app:hover, #view-site:hover {
  background: #222;
}



/* ==========================================================
   JS styles - Content visability based on uri
   ========================================================= */

body.app {

}
body.site {

}

.container.active, .content.active {
  display: block;
}

body.app #view-app {
  display: none;
}
body.site #view-site {
  display: none;
}





/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
